<!DOCTYPE html>
<html>
  <head>
    <title>index/photo</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
  </head>
  <body>
    <header>

      <h1>Photo Drop</h1>
      <h2>A place for photographers and enthusiasts to share and colab</h2>

      <nav>
        <ul>
          <li>
            <a href="/photos/new">Add Photo</a>
          </li>
          <li>
            <a href="/users">All Contributers</a>
          </li>
          <li>
            <a href="/">All Submissions</a>
          </li>
        </ul>
      </nav>

    </header>
    
    <main>
<!--       <h2>List of Photos</h2> -->

      <ul>
        <% for(let i = 0; i < photos.length; i++){ %>
          <li>
            <a href="/photos/<%=photos[i]._id%>">
            <img src="<%=photos[i].url%>"></a>
          </li>
        <% } %>
      </ul>

    </main>




    <script type="text/javascript" src="/js/app.js"></script>
  </body>
</html>




