<!DOCTYPE html>
<html>
  <head>
    <title>new/photo</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
  </head>
  <body>
    <header>
      <h1>Add Photo</h1>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/photos">Photos Index</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <form action="/photos" method="post">
        <select name="userId">
          <% for( let i=0; i < users.length; i++){%>
            <option value="<%=users[i].id%>"><%=users[i].username%></option>

          <% }%>
        </select><br/>

        <input type="text" name="title" placeholder="photo title" /><br/>
        <input type="url" name="url" placeholder="url">
        <textarea name="body" placeholder="tell us about your photo!!"></textarea><br/>
        <input type="submit" value="Create Post"/>
      </form>
    </main>




    <script type="text/javascript" src="/js/app.js"></script>
  </body>
</html>