<!DOCTYPE html>
<html>
<head>
  <title>new/users</title>
</head>
<body>
  <header>
    <h1>Welcome to Photo Drop!</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <!-- <li><a href="/users">users Index</a></li> -->
      </ul>
    </nav>
  </header>

  <main>
    <form action="/users" method="POST">
      <input type="text" name="username" placeholder="username">
      <input type="text" name="password" placeholder="password">
      <button type="submit">Create User</button>
    </form>
  </main>

</body>
</html>
